.login-card-wrapper {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 64px;

  .login-card {
    width: 480px;
  }

  .md-card-header {
    .logo {
      margin: 0 auto;
      width: 230px;
      display: block;
    }
  }
}
