@import 'variables';

#main-sidebar {
  .md-sidenav-content {
    width: $sizebar-size;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    z-index: 3;
    @media (min-width: $medium-breakpoint) {
      top: 0;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
      box-shadow: $material-shadow-2dp;
    }
  }

  .md-backdrop {
    @media (min-width: $medium-breakpoint) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .md-toolbar {
    min-height: 172px;
    border-bottom: 1px solid rgba(#000, .12);
  }

  .logo {
    font-size: 24px;

    a {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    img {
      max-height: 90px;
      margin-bottom: 16px;
    }
  }

  .main-sidebar-links {
    overflow: auto;
    flex: 1;

    .md-inset .md-list-item-container {
      padding-left: 36px;
    }

    .md-list-item-container {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
