@import 'materialize';
@import 'variables';
@import 'normalize';
@import 'sidebar';
@import 'page';
@import 'form';
@import 'helper';

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  transition: $swift-ease-out;

  @media (min-width: $medium-breakpoint) {
    padding-left: $sizebar-size;
  }
}
