@import '~pace-progress/themes/blue/pace-theme-minimal';
@import url("//fonts.googleapis.com/css?family=Roboto+Mono:100,400,500,700");
@import url("//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,400italic");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");
@import 'materialize';
@import 'variables';
@import 'normalize';
@import 'sidebar';
@import 'page';
@import 'form';
@import 'helper';

.pace .pace-progress {
  background: $secondary-color;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  transition: $swift-ease-out;

  @media (min-width: $medium-breakpoint) {
    padding-left: $sizebar-size;
  }
}
